[Unit]
Description=Javob tekshir bot
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/Javob_tekshir_bot_python
ExecStart=/home/ubuntu/Javob_tekshir_bot_python/venv/bin/python3 app.py

[Install]
WantedBy=multi-user.target
